.mat-mdc-slider {
    --mdc-slider-handle-shape: 10px;
    --mdc-slider-handle-width: 10px;
    --mdc-slider-handle-height: 10px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

mat-icon {
    color: #454C5A;
    transform: scale(0.8);
    margin-right: 16px;
}