@if(modelLoaderService.isLoading()){
<div class="spinner">
    <mat-progress-spinner [mode]="mode" [value]="modelLoaderService.loadingLevel()" [diameter]="150">
    </mat-progress-spinner>
    <div class="progress">
        {{ modelLoaderService.loadingLevel() | appGetLoadingPercentLabel }}
    </div>
</div>
} @else {
<div class="wrapper">
    <app-extend-tab [label]="'slice mover'">
        <ng-container content>
            <app-slice-incrementer [(min)]="slicerService.sliceIncrementerValues().min"
                [(max)]="slicerService.sliceIncrementerValues().max"></app-slice-incrementer>
        </ng-container>
        </app-extend-tab>
        <div class="performance-wrapper">
            <app-extend-tab [label]="'performance'">
                <ng-container content>
                    <app-performance-check></app-performance-check>
        </ng-container>
        </app-extend-tab>
        </div>
        </div>
}

<app-engine></app-engine>