/* You can add global styles to this file, and also import other style files */
// reset all css styles to default 
* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  overflow-y: hidden;
}
// end 